<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

	<!-- load properties -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath:springdwrdemo.properties" />
	
	<!-- only scan package @Controller, use "," to separate if have more base-packages -->
	<context:component-scan base-package="com.sizatn.springdwrdemo" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<mvc:resources mapping="js/**" location="/WEB-INF/js/" />
	<mvc:resources mapping="jsp/**" location="/WEB-INF/jsp/" />

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="${view.prefix}" />
		<property name="suffix" value="${view.suffix}" />
	</bean>
	
</beans>